name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-typescript:
    name: TypeScript Tests
    runs-on: ubuntu-latest
    permissions:
      # Needed for checkout
      contents: read
      # Needed for codecov OIDC token
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version-file: package.json
          cache: npm
      - run: npm ci
      - run: npm run format:check
      - run: npm run lint
      - run: npm run ci-test
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          use_oidc: true
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          use_oidc: true
          report_type: test_results
  # test-action:
  #   name: GitHub Actions Test
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout
  #       id: checkout
  #       uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
  #     - uses: goauthentik/action-setup-authentik@v1
  #       with:
  #         version: stable
  #         sentry_env: goauthentik-configure-authentik-credentials-ci
  #     - name: Test Local Action
  #       id: test-action
  #       uses: ./
  #       with:
  #         milliseconds: 2000
  #     - name: Print Output
  #       id: output
  #       run: echo "${{ steps.test-action.outputs.time }}"
